<%- include('header'); -%>
<div style="color: #626262; text-align:left; font-weight: 300; padding: 30px; border: 2px solid #E5E5E5; border-top: none; border-bottom: none;">
    <div style="margin: 0 0; font-size: 30px; font-weight: 600;">Спасибо что зарегестрировались в ODA!</div>
    <div style="margin-bottom: 20px; font-size:18px; margin-top: 10px;">Перейдите по ссылке, чтобы подтвердить ваш email.</div>
    <a href="<%-url%>" target="_blank" style="padding: 10px; background: #33b5ff; color: #fff; text-decoration: none; margin-top: 15px;">Перейти</a>
</div>
<%- include('footer'); -%>
